@model IEnumerable<Tran_991515427_LABS.Models.StudentResponse>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>List of Guests</title>
</head>

<body class="text-center p-2">
    <h2>Here is the list of people attending the party</h2>
    <table class="table table-sm table-striped table-bordered">
        <thread>
            <tr>
                <th>Student Name</th>
                <th>Course Name</th>
                <th>Course Code</th>
            </tr>
        </thread>
        <tbody>
            @foreach (Tran_991515427_LABS.Models.StudentResponse studentResponse in Model)
            {
                <tr>
                    <td>@studentResponse.FirstName @studentResponse.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>