@* FileName: StudentForm.cshtml
    Author: Thanh Tran
    Description: Web view for the Student Registration Form
*@

@model Tran_991515427_LABS.Models.StudentResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/bootstrap-multiselect/css/bootstrap-multiselect.css" />


    <title>Student Form</title>

    <script type="text/javascript">
        $(function () {
            $('#courses').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>

</head>

<body class="text-center p-2">
    <h5 class="bg-primary text-white text-center m-2 p-2">
        Welcome to Student Form
    </h5>

    <form asp-action="StudentForm" method="post" runat="server">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="FirstName">First Name:</label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name:</label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="StudentNumber">Student Number:</label>
            <input asp-for="StudentNumber" class="form-control" />
        </div>

        <!-- TODO: Use the Course Repo and have it fill the option-value here instead of hard-coding it... -->
        <div class="form-group">
            <label>Enrolled Courses:</label>
            <select asp-for="Courses" id="courses" class="form-control" multiple="multiple">
                <option value="Software Process Management">Software Process Management</option>
                <option value="Capstone Prototype">Capstone Prototype</option>
                <option value="Advanced Java Frameworks">Advanced Java Frameworks</option>
                <option value="Advanced .NET Server-Side Technologies">Advanced .NET Server-Side Technologies</option>
                <option value="3D Game Programming Foundations">3D Game Programming Foundations</option>
                <option value="Game Engineering Principles">Game Engineering Principles</option>
                <option value="Android Application Development">Android Application Development</option>
                <option value="Mobile iOS Application Development">Mobile iOS Application Development</option>
                <option value="Innovation: From Idea to Execution">Innovation: From Idea to Execution</option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
