@{
    Layout = null; // "_Layout build in layout my MS"
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Welcome</title>
</head>

<body class="text-center p-2">
    <div>
        <h4>@ViewBag.WelcomeTitle<br /></h4>
    </div>

    <!-- direct to razer page -->
    <a asp-action="StudentForm">Register Now</a>
</body>
</html>

